{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'component-password-slideshow.css' | asset_url | stylesheet_tag }}
<script src="{{ 'password-slideshow.js' | asset_url }}" defer="defer"></script>


{%- if section.settings.slide_height == 'adapt_image' and section.blocks.first.settings.image != blank -%}
  {%- style -%}
  @media screen and (max-width: 749px) {
    #Slider-{{ section.id }}::before,
    #Slider-{{ section.id }} .media::before,
    #Slider-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
      padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
  }

  @media screen and (min-width: 750px) {
    #Slider-{{ section.id }}::before,
    #Slider-{{ section.id }} .media::before {
      padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
  }
  :root {
    --change-slide-speed: {{ section.settings.change_slides_speed }}s;
    --fade-slide-speed: {{ section.settings.fade_slides_speed }}s;
  }

  {%- endstyle -%}
{%- endif -%}

<password-slideshow-component class="slider-mobile-gutter" role="region" aria-roledescription="{{ 'sections.slideshow.carousel' | t }}" aria-label="{{ section.settings.accessibility_info | escape }}">
  <div class="slideshow banner banner--{{ section.settings.slide_height }} grid grid--1-col slider{% if section.blocks.first.settings.image == blank %} slideshow--placeholder{% endif %}"
    id="Slider-{{ section.id }}"
    data-speed="{{ section.settings.change_slides_speed }}"
  >
    {%- for block in section.blocks -%}
      <div class="slideshow__slide grid__item grid--1-col slider__slide"
        id="Slide-{{ section.id }}-{{ forloop.index }}"
        {{ block.shopify_attributes }}
        role="group"
        aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
        aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
        tabindex="-1"
      >
        <div class="slideshow__media banner__media media{% if block.settings.image == blank %} placeholder{% endif %}">
          {%- if block.settings.image -%}
            {%- assign height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio | round -%}
            {{ block.settings.image | image_url: width: 3840 | image_tag:
              loading: 'lazy',
              height: height,
              sizes: "100vw",
              widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
            }}
          {%- else -%}
            {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
      </div>
    {%- endfor -%}
  </div>
  {%- if section.settings.heading1 != blank -%}
    <div class="slideshow__text-wrapper banner__content">
      <div class="slideshow__text banner__box content-container content-container--full-width-mobile">
        {%- if section.settings.heading1 != blank -%}
          <h2 class="banner__heading {{ block.settings.heading_size }}">{{ section.settings.heading1 | escape }}</h2>
        {%- endif -%}
        {%- if section.settings.heading2 != blank -%}
          <h2 class="banner__heading {{ block.settings.heading_size }}">{{ section.settings.heading2 | escape }}</h2>
        {%- endif -%}
        {%- if section.settings.heading3 != blank -%}
          <h2 class="banner__heading {{ block.settings.heading_size }}">{{ section.settings.heading3 | escape }}</h2>
        {%- endif -%}
        {%- if section.settings.heading4 != blank -%}
          <h2 class="banner__heading {{ block.settings.heading_size }}">{{ section.settings.heading4 | escape }}</h2>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
</password-slideshow-component>

<password-modal>
  <details class="password-modal modal">
    <summary class="modal__toggle" aria-haspopup="dialog">
      <div class="modal__toggle-open password-link link underlined-link">
        {% render 'icon-lock' %}
      </div>
      <div class="modal__toggle-close" aria-hidden="true">
        {% render 'icon-close' %}
      </div>
    </summary>
    <div
      class="modal__content"
      role="dialog"
      aria-labelledby="DialogHeading"
      aria-modal="true"
    >
      <div class="password-modal__content" tabindex="-1">
        <button type="button" class="modal__close-button link" aria-label="{{ 'accessibility.close' | t }}">
          {% render 'icon-close' %}
        </button>
        <h2 class="password-modal__content-heading" id="DialogHeading">
          {{ 'general.password_page.login_form_heading' | t }}
        </h2>
        {%- form 'storefront_password', class: 'password-form' -%}
          <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
            <input
              type="password"
              name="password"
              id="Password"
              class="field__input"
              autocomplete="current-password"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="PasswordLoginForm-password-error"
              {%- endif -%}
              placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
            >
            <label class="field__label" for="{{ 'general.password_page.login_form_password_label' | t }}">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
            {%- if form.errors -%}
              <div id="PasswordLoginForm-password-error" role="status">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span class="form__message">{% render 'icon-error' %} {{ 'general.password_page.login_form_error' | t }}</span>
              </div>
            {%- endif -%}
          </div>
          <button name="commit" class="password-button button button--outline">
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        {%- endform -%}
        <small class="password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
      </div>
    </div>
  </details>
</password-modal>

{%- if request.design_mode -%}
  <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.password-slideshow.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "slide_height",
      "options": [
        {
          "value": "adapt_image",
          "label": "t:sections.password-slideshow.settings.slide_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.password-slideshow.settings.slide_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.password-slideshow.settings.slide_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.password-slideshow.settings.slide_height.options__4.label"
        }
      ],
      "default": "adapt_image",
      "label": "t:sections.password-slideshow.settings.slide_height.label"
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 2,
      "max": 12,
      "step": 2,
      "unit": "s",
      "label": "t:sections.password-slideshow.settings.change_slides_speed.label",
      "default": 4
    },
    {
      "type": "range",
      "id": "fade_slides_speed",
      "min": 2,
      "max": 12,
      "step": 2,
      "unit": "s",
      "label": "t:sections.password-slideshow.settings.fade_slides_speed.label",
      "default": 4
    },
    {
      "type": "header",
      "content": "t:sections.password-slideshow.settings.heading.label"
    },
    {
      "type": "text",
      "id": "heading1",
      "label": "t:sections.password-slideshow.settings.heading.heading1",
      "default": "heading1"
    },
    {
      "type": "text",
      "id": "heading2",
      "label": "t:sections.password-slideshow.settings.heading.heading2",
      "default": "heading2"
    },
    {
      "type": "text",
      "id": "heading3",
      "label": "t:sections.password-slideshow.settings.heading.heading3",
      "default": "heading3"
    },
    {
      "type": "text",
      "id": "heading4",
      "label": "t:sections.password-slideshow.settings.heading.heading4",
      "default": "heading4"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.password-slideshow.blocks.slide.name",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.password-slideshow.blocks.slide.settings.image.label"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "t:sections.password-slideshow.blocks.slide.settings.image_overlay_opacity.label",
          "default": 0
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.password-slideshow.presets.name",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
